*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

body{
  position: relative;
  font-family: "Poppins",sans-serif;
  max-width: 1440px;
  min-width: 600px;
}

.nav-bar{
  top: 0;
  position: sticky;
  z-index: 1000;
}
.nav-section-a{
  background-color: lightcyan;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}

.shop-now{
  background: black;
  padding: 7px 20px;
  border-radius: 6px;
  color: white;
  font-size: 10px;
}
.shop-now:hover{
  background: lightcyan;
  color: black;
}

.nav-section-b{
  background-color: black;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 600;
}

.hamburger{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-right: 10px;
}

.hamburger span{
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: white;
}

.message{
  background: linear-gradient(180deg,lightcyan,white);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 30px;
}

.message h1{
  font-size: 50px;
  text-align: center;
  font-weight: 900;
  padding: 20px 0;
}

.message p{
  font-weight: 700;
  color: slategrey;
  text-align: center;
}

.message span{
  margin-top: 30px;
  background: black;
  color: white;
  padding: 20px;
  border-radius: 20px;
  font-weight: 600;
}
.message span:hover{
  background: lightcyan;
  color: black;
}

.image-section img{
  width: max-content;
}

/*Description Section*/

.product-description{
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
  padding: 50px;
  background: whitesmoke;
}

.description-box{
  padding: 30px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  transition: transform 0.3s ease;
}
.description-box:hover{
  background: lightcyan;
  color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

.description-box img{
  width: 30px;
}

.description-box span{
  padding: 20px;
  margin-bottom: 20px;
  font-weight: 500;
  
}

.description-box p{
  text-align: center;
  color: slategrey;
  font-weight: 500;
}

/*featured products*/

.featured-products{
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  gap: 30px;
  align-items: center;
  padding: 20px;
}

.product-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #4DF16F;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
}
.featured-img img{
  width: 200px;
  margin: 10px;
  transition: transform 0.3s ease;
}
.featured-img img:hover{
  transform: scale(1.2);
}


.review-stars img{
  width: 20px;
  margin: 10px;
}

.featured-details{
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.featured-details h3{
  font-weight: 700;
}

.featured-details span{
  font-weight: 700;
  padding: 10px;
}

.btn-container button{
  padding: 10px 120px;
  color: #fff;
  background: #000000;
  border-radius: 10px;
}

.featured-header{
  padding: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.shop-all{
  width: 300px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 2px dimgray solid;
  border-radius: 10px;
}

.arrow{
  width:30px;
  height: 30px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid dimgray;
  border-radius: 50%;
}

.shop-all p{
  font-size: 20px;
  font-weight: 200;
}

.learn-container{
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#learn-more{
  background: linear-gradient(180deg,white,#FFF2C8);
}

.learn-container h3{
  padding: 40px;
  font-weight: 700;
}

.learn-box{
  width: 500px;
  padding: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.learn-box h4{
  padding: 10px;
  font-weight: 600;
  color: #4DF16F;
}

.learn-box p{
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

.learn-box a{
  text-decoration: none;
  color: #4DF16F;
  transition: transform 0.3s ease;
}

.learn-box a:hover{
  transform: scale(1.2);
}


.newsletter-container{
  background: black;
  color: #fff;
  padding: 100px 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

#email-input{
  padding: 20px;
  width: 500px;
  background: darkgrey;
  color: white;
  border-radius: 10px;
  outline: none;
}
#join-btn{
  padding: 20px;
  width: 500px;
  background: white;
  color: black;
  border-radius: 40px;
  margin-top: 20px;
  align-self: center;
}

#review-starts img{
  width: 20px;
  margin: 10px;
}

/*Reviews*/

#all-reviews{
  display: flex;
  align-items: center;
  justify-content: center;
}

#all-reviews img{
  width: 20px;
  margin: 10px
}

.review-section{
  padding: 50px 20px;
  background: linear-gradient(180deg,#FFF2C8, white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.all-reviews{
  display: flex;
  flex-direction: row;
  padding: 20px;
}

#all-reviews span{
  color: #776C11;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
}

.review{
  padding: 30px;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease;
}
.review:hover{
  transform: scale(1.2);
}

.review p{
  font-weight: 300;
}

.review h3{
  padding: 10px;
}

.review-box h2{
  padding: 20px 50px;
}

/*FOOTER*/

.footer-container{
  padding: 50px;
  display: flex;
  flex-direction: row;
  align-items: center ;
  justify-content: space-evenly;
  background: black;
}

.footer-container h4{
  color: white;
  padding: 15px;
}

.resources,.about,.partners{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  text-align: center;
}

.resources ul,.about ul,.partners ul{
  list-style-type: none;
  padding: 0;
}

.resources a,.about a,.partners a{
  text-decoration: none;
  color: white;
}

.resources li,.about li,.partners li{
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}

.footer-container a{
  transition: transform 0.3s ease;
  cursor: pointer;
}

.footer-container a:hover{
  transform: scale(1.1);
}

.media-img{
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: center;
  justify-content: center;
  background: white;
}
.media-img img{
  width: 50px;
}


/* Media query for tablet screens */
@media (max-width: 768px) {
  .nav-section-a,
  .nav-section-b {
    flex-direction: column;
    text-align: center;
  }

  .product-description {
    flex-direction: column;
    gap: 50px;
  }

  .description-box {
    width: 90%;
  }

  .featured-products {
    flex-direction: column;
    overflow-x: visible;
  }

  .featured-img img {
    width: 150px;
  }

  .btn-container button {
    padding: 10px 80px;
  }

  .shop-all {
    width: 100%;
    padding: 10px;
    justify-content: center;
  }

  .learn-box {
    width: 80%;
  }

  #email-input,
  #join-btn {
    width: 80%;
  }

  .footer-container {
    flex-direction: column;
    text-align: center;
  }
}

/* Media query for mobile screens */
@media (max-width: 480px) {
  .message h1 {
    font-size: 32px;
  }

  .message p {
    font-size: 14px;
  }

  .description-box p {
    font-size: 14px;
  }

  .featured-products {
    gap: 20px;
  }

  .product-box {
    width: 70%;
    padding: 10px;
  }

  .learn-box {
    width: 100%;
  }

  .footer-container h4 {
    font-size: 16px;
  }

  #email-input,
  #join-btn {
    width: 100%;
  }
}
